# Python operators 
topic to be covered
operators,variables,variable name convertion, data type in python, condition statements, loop statements , parkaging in python, getting farmiliar pandas library

# Operators
operators in mathematics
plus, divide, multiplication, minus,modulus
also in python we have operators such as
addition +, minus -, multiplication *, modulus %, division /,

# different types of operators

# arithimetic operators
they include : addition subtraction, multiplication and division
the return depends on the operand eg 3+8= 11
and "string"*3= "string string string"
but a "string"+ 4=error

# comparison operators 
They are used to compare 2 values or conditions 
they include : less than< ,grater than>, less than or equal to<=, equals to==, not equal to !=
the return only true or false example

In [6]:
5 < 2

False

In [7]:
5>2

True

# logical operators 
they are ;and or and not
they are used to combine condition statements

# and operator
returns the 1st value if not found return last eg

In [10]:
5>2 and 4<2

False

# or operator
returns the first true value if not found returns the last one eg

In [41]:
5>2 or 4<2

True

# not operator
it flips boolean value of the operand eg

In [42]:
not 5<2

True

In [43]:
exercise 
1 what does the // operator do (perform division)
2 which of the following option will give you the remainder of a division (modulus"%")
3 if you write 3 *5 in the python console what will you get (15)

SyntaxError: invalid syntax (<ipython-input-43-2eeda69155ac>, line 2)

# identity operator
used to compare objects not if they are not equal but if they are the same object with the same memory location
operators include: "is "and "is not"
eg

In [16]:
5 is 5

True

In [17]:
a is a

True

In [18]:
5 is 6

False

In [27]:
5 is not 6

True

# membership operator
they are used to test if a sequence is presented in an object thay include "in" and "not in"eg

In [20]:
a= ["ngina","pmc","are","cute"]

In [24]:
"cute" in a

True

In [25]:
"love" in a

False

In [26]:
"pmc" in a

True

# bitwise operator
are used to compare binary numbers. thay include "&", "or", "|", "not"

# variables
They are names bounded to objects 
They are used for storing data values 
a variable is created the moment you first assign value to it 
eg

In [29]:
x=5
y=20
z="pmc"

In [30]:
print(x)

5

In [31]:
print(z)

pmc

In [39]:
name="ngina"

height=5.7
gender="female"
nationality="kenyan"

In [40]:
print(age)

21

# rules for naming variables
1: case sensitive 
age=20 is different from Age=20.
2: variable name cannot start with a special character eg #pmc
3: variable name must start with the letter or _ character 
4: variable name cannot start with a number 
5: variable name can only contain alpha-numeric and "_"

In [1]:
name = """paul
muigai
muchiri
pmc"""

In [2]:
print(name)

paul
muigai
muchiri
pmc

# boolean
they return True or False values

In [3]:
print(10>9)

True

In [5]:
print(27>38)

False

In [8]:
a=9
b=12

In [10]:
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

# 1 list
is a collection which is ordered and changeable and allows duplication of a number

In [12]:
car= ["toyota","rangerover","isuzu","prado","vitz"]

In [14]:
print(car)

['toyota', 'rangerover', 'isuzu', 'prado', 'vitz']

In [21]:
print(car)

['toyota', 'rangerover', 'isuzu', 'prado', 'vitz']

In [26]:
print(car[3])

prado

In [35]:
fruits=["mango","ovacado","mango","apple","orange"]

In [29]:
print(fruits[3])

apple

In [4]:
fruits.append("pinapple")

NameError: name 'fruits' is not defined

In [5]:
print(fruits)

NameError: name 'fruits' is not defined

.append"insert"

In [44]:
fruits.insert(4,"grapes")

In [45]:
print(fruits)

['ovacado', 'mango', 'apple', 'orange', 'grapes', 'grapes', 'pinapple]']

In [46]:
fruits.remove("mango")

In [47]:
print(fruits)

['ovacado', 'apple', 'orange', 'grapes', 'grapes', 'pinapple]']

In [48]:
fruits.pop()

'pinapple]'

In [49]:
print(fruits)

['ovacado', 'apple', 'orange', 'grapes', 'grapes']

In [50]:
fruits.pop()

'grapes'

In [51]:
print(fruits)

['ovacado', 'apple', 'orange', 'grapes']

In [52]:
del fruits[1]

In [53]:
print(fruits)

['ovacado', 'orange', 'grapes']

In [54]:
fruits.clear()

In [55]:
print(fruits)

[]

# copying a list
you cannot copy a list by writing list 1= list2 since list 2 will be a refrence of list 1 and changes made in list 1 will automatically be made in list 2.
there are ways to make a copy in python 
1: using buildin method copy()

In [56]:
print(car)

['toyota', 'rangerover', 'isuzu', 'prado', 'vitz']

In [57]:
vehicle=car.copy()

In [58]:
print(vehicle)

['toyota', 'rangerover', 'isuzu', 'prado', 'vitz']

In [59]:
print(car)

['toyota', 'rangerover', 'isuzu', 'prado', 'vitz']

In [4]:
fruits=list(("mango","orange","grapes"))

In [61]:
print(fruits)

['mango', 'orange', 'grapes']

# 2 tuple
is a collection which is ordered and unchangable 
they are written with() or without 
eg

In [99]:
fruit=("mango","orange","grapes")

In [65]:
print(fruit)

('mango', 'orange', 'grapes')

In [66]:
car= "toyota","range","vitz"

In [67]:
print(car)

('toyota', 'range', 'vitz')

# conversion of tuple to list
once a tuple is created you cannot change its value, they are unchangable but change a value you have to change the tuple to list then convert it back to a tuple

In [68]:
vehicle=list(car)

In [69]:
print(vehicle)

['toyota', 'range', 'vitz']

In [71]:
vehicle.append("isuzu")

In [72]:
print(vehicle)

['toyota', 'range', 'vitz', 'isuzu']

In [92]:
vehicle.insert(3,"prado")

In [93]:
print(vehicle)

['toyota', 'range', 'vitz', 'prado']

In [94]:
car2=tuple(vehicle)

In [95]:
print(car2)

('toyota', 'range', 'vitz', 'prado')

In [97]:
len(car2)

4

# joining two tuple
use + operator

In [98]:
fruits+car2

('mango', 'orange', 'grapes', 'toyota', 'range', 'vitz', 'prado')

# 3 sets
is a collection which is an ordered and unindex
in python sets are written in cury brackets

In [100]:
fruits={"apple","ovacado","grapes","mango"}

In [101]:
print(fruits)

{'ovacado', 'apple', 'grapes', 'mango'}

In [102]:
fruits.add("kiwi")

In [103]:
print(fruits)

{'grapes', 'ovacado', 'apple', 'mango', 'kiwi'}

In [104]:
fruits.update(["banana","maize","potato"])

In [105]:
print(fruits)

{'grapes', 'banana', 'ovacado', 'apple', 'maize', 'potato', 'mango', 'kiwi'}

In [111]:
len(fruits)

7

In [107]:
fruits.remove("banana")

In [108]:
print(fruits)

{'grapes', 'ovacado', 'apple', 'maize', 'potato', 'mango', 'kiwi'}

In [115]:
fruits.discard("ovacado")

In [116]:
print(fruits)

{'grapes', 'apple', 'maize', 'potato', 'mango', 'kiwi'}

In [118]:
fruits.pop()

'grapes'

In [119]:
print(fruits)

{'apple', 'maize', 'potato', 'mango', 'kiwi'}

In [122]:
del fruits

In [125]:
print("

fruits

# joining 2 sets
there are several ways of joining sets
1:union() method : returns a new set containing all items from both sets 
2: update() method : it inserts all items from one set into another

In [126]:
number={"a","b","c"}

In [127]:
print(number)

{'a', 'c', 'b'}

In [5]:
alpha={"1","2","3"}

In [6]:
print(alpha)

{'3', '2', '1'}

In [135]:
set3=number.union(alpha)

In [136]:
print(set3)

{'a', 'c', '2', '3', 'b', '1'}

In [142]:
alpha.update("number")

In [143]:
print(alpha)

{'2', 'u', '3', 'r', 'n', 'b', 'm', '1', 'e'}

# 4 dictonaries
dictonary is a collection which is unordered changable and indexed
in python dictonary are written in {} and they have keys and values

In [4]:
details={"name":"ngina","age":21}

In [5]:
print(details)

{'name': 'ngina', 'age': 21}

In [6]:
print(type(details))

<class 'dict'>

# accessing items in dictonary
you can access items by reffering to its key inside "[]"

In [7]:
age=details["age"]

In [11]:
print(age)

21

In [9]:
x=details.get("name")

In [10]:
print(x)

ngina

changing values in a dictonary

In [12]:
details["age"]=28

In [13]:
print(details)

{'name': 'ngina', 'age': 28}

In [17]:
if "colour" in details:
    print("yes")
else :
    print("no")

no

In [18]:
details["colour"]="red"

In [19]:
print(details)

{'name': 'ngina', 'age': 28, 'colour': 'red'}

In [21]:
details.pop("age")

28

In [22]:
details.popitem()

('colour', 'red')

In [23]:
del details["name"]

In [24]:
print(details)

{}

In [26]:
cars= {"name":"toyota","model":"bugarti","year":2010}

In [27]:
vehicles=dict(cars)
print(vehicles)

{'name': 'toyota', 'model': 'bugarti', 'year': 2010}

In [28]:
fruits =dict( name ="apple", taste="juicy",colour="red")

In [29]:
print(fruits)

{'name': 'apple', 'taste': 'juicy', 'colour': 'red'}

In [30]:
city={"name":"nairobi","population":50000,"weather":16,"governor":"sonko"}

In [31]:
print(city)

{'name': 'nairobi', 'population': 50000, 'weather': 16, 'governor': 'sonko'}

In [32]:
city.pop("weather")

16

In [34]:
print(city)

{'name': 'nairobi', 'population': 50000, 'governor': 'sonko'}

In [35]:
city.popitem()

('governor', 'sonko')

In [37]:
print(city)

{'name': 'nairobi', 'population': 50000}

In [41]:
city["governor"]="sonko"

In [42]:
print(city)

{'name': 'nairobi', 'population': 50000, 'governor': 'sonko'}

In [43]:
if "name" in city:
    print("yes")
else:
    print("no")

yes

In [44]:
her=dict (name="ngina",age=22,gender="female")

In [45]:
print(her)

{'name': 'ngina', 'age': 22, 'gender': 'female'}

In [46]:
her ["colour"]="light"

In [47]:
print(her)

{'name': 'ngina', 'age': 22, 'gender': 'female', 'colour': 'light'}

In [52]:
city=dict(her)
print(city)

{'name': 'ngina', 'age': 22, 'gender': 'female', 'colour': 'light'}